html,
body {
    height: 100vh;
    margin: 0;
    font-size: 20px;
    background-color: rgb(200, 255, 170);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin-left: 2rem;
}

h3 {
    margin-left: 1rem;
}

ul {
    list-style-type: none;
}

.divFiltres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    width: 400px;
}

.titreFiltre {
    font-style: italic;
    font-size: 0.9rem;
}


.tableFiltres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtreEnCours {
    background: rgb(255, 230, 180);
    border-radius: 5px;
    font-weight: bold;
}

#listeTaches li{
    margin-bottom: 1rem;
}

#listeTaches article{
    padding: 0.5rem;
}

.classeTache {
    display: flex;
    flex-direction: column;
    border-style: solid;
    max-width: 30rem;
    background: rgb(255, 240, 200);
}

.classeTache p,.classeTache p{ 
    margin-top: 0;
    padding-top: 0; 
}

.divAjoutTache {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.formAjoutTache {
    display: flex;
    flex-direction: column;
}

.ajouterTache {
    width: 5rem;
}

.contenuNouvelleTache {
    height: 50rem;
}

#sauvegarder{
    position: fixed;
    top: 10%;
    right: 10%;
    width: 5rem;
    height: 2rem;
    font-size: 0.8rem;
}


.tacheTerminee {
    font-style: italic;
}

.tacheTerminee article {
    background: rgb(180, 250, 150);
}

.tacheTerminee h3,
.tacheTerminee p {
    text-decoration: line-through;
}

.masque {
    display: none;
}